@media screen and (max-width: 720px) {
  .header .nav .nav__logo {
    margin-left: 20px;
  }
  .header .nav .nav__menu {
    display: none;
  }
  .header .nav .nav__btns .nav__link {
    display: none;
  }
  .header .nav .nav__btns .uil-align-left-justify {
    display: flex;
    margin-right: 10px;
  }
  .main .home__container {
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(0, 0, 0);
    padding-bottom: 40px;
  }
  .main .home__container .home__data {
    height: auto;
    width: 420px;
  }
  .main .home__container .home__data .home__subtitle {
    margin-left: 20px;
    font-size: 28px;
    color: white;
  }
  .main .home__container .home__data .home__description {
    font-size: 16px;
    color: white;
    margin: auto;
    height: auto;
  }
  .main .home__container .home__data .button {
    height: 60px;
    margin-left: 120px;
  }
  .main .home__container .home__img img {
    margin-left: 20px;
    width: 240px;
    border-top-color: white;
    height: 240px;
  }
  .main .about__container {
    width: 100%;
    margin: auto;
    margin-top: 60px;
  }
  .main .about__container .about__title {
    width: auto;
    margin-left: 0;
    font-size: 26px;
    text-align: center;
  }
  .main .about__container .description__paragraph .description__flex {
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main .about__container .description__paragraph .description__flex .my-description-title {
    height: auto;
    margin-left: 0px;
  }
  .main .about__container .description__paragraph .description__flex .my-description-title .description-title {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  .main .about__container .description__paragraph .description__flex .my-description-title ul li {
    margin: 40px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .main .about__container .description__paragraph .description__flex .my-description-list {
    margin: 0 40px 40px 10px;
    width: 250px;
    line-height: 10px;
    height: auto;
  }
  .main .about__container .description__paragraph .description__flex .my-description-list ul li {
    margin: 40px;
    margin-left: 30px;
    font-size: 16px;
    line-height: 10px;
  }
  .main .skills__container {
    height: auto;
    background-color: white;
  }
  .main .skills__container .skills__information-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }
  .main .skills__container .skills__information-flex .skills__description {
    width: auto;
    margin-left: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .main .skills__container .skills__information-flex .skills__description .skills__titles .skills__title {
    font-size: 38px;
    text-align: center;
  }
  .main .skills__container .skills__information-flex .skills__description .skills__titles .skills__subtitle-first {
    font-size: 30px;
    text-align: center;
    margin-top: O;
    color: var(--primary-red);
  }
  .main .skills__container .skills__information-flex .skills__description .skills__list-front-end {
    display: inline-block;
  }
  .main .skills__container .skills__information-flex .skills__description .skills__list-front-end ul li {
    margin-left: 40px;
    margin-right: 40px;
  }
  .main .skills__container .skills__information-flex .skills__description .btn__download .btn {
    margin-top: 80px;
    margin-left: 90px;
  }
  .main .skills__container .skills__information-flex .skills__img {
    width: 100%;
    height: auto;
    margin-top: 80px;
  }
  .main .skills__container .skills__information-flex .skills__img img {
    width: 100%;
    height: auto;
    padding: 0px;
  }
  .main .project__container .next {
    width: 100%;
    margin-top: 180px;
    align-items: center;
  }
  .main .project__container .next .project_title {
    font-size: 18px;
    text-align: justify;
  }
  .main .project__container .next img {
    width: 100%;
  }
  .main .project__container .next .realisation {
    text-align: center;
    font-size: 18px;
  }
  .main .project__container .next .numbers .number {
    display: inline-block;
    margin-top: 30px;
    padding: 5px;
    cursor: pointer;
  }
  .main .contactMe__section {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--colorblue);
  }
  .main .contactMe__section .carnet__container {
    height: 500px;
    width: 100%;
  }
  .main .contactMe__section .carnet__container .form {
    height: 500px;
    width: 100%;
    margin: auto;
  }
  .main .contactMe__section .carnet__container .form input,
.main .contactMe__section .carnet__container .form textarea {
    height: 50px;
    width: 80%;
    margin-left: 30px;
    background-color: var(--colorblue);
  }
  .main .contactMe__section .carnet__container .form .submitBtn {
    margin-top: 40px;
    margin-left: 80px;
  }
  .main .contactMe__section .soc-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
    height: auto;
    margin-left: 70px;
  }
  .main .contactMe__section .soc-container .whatasapp {
    border: none;
  }
  .main .contactMe__section .soc-container .whatasapp a .uil-whatsapp {
    font-size: 50px;
    color: white;
  }
  .main .contactMe__section .soc-container .facebook {
    border: none;
  }
  .main .contactMe__section .soc-container .facebook a .uil-facebook {
    font-size: 50px;
    color: white;
  }
  .main .contactMe__section .soc-container .github {
    border: none;
  }
  .main .contactMe__section .soc-container .github a .uil-github {
    font-size: 50px;
    color: white;
  }
}/*# sourceMappingURL=mobileTech.css.map */