@media screen and (max-width: 720px) {
  .header {
    .nav {
      .nav__logo {
        margin-left: 20px;
      }

      .nav__menu {
        display: none;
      }

      .nav__btns {
        .nav__link {
          display: none;
        }
        .uil-align-left-justify {
          display: flex;
          margin-right: 10px;
        }
      }
    }
  }

  .main {
    .home__container {
      margin: auto;
      display: flex;
      flex-direction: column-reverse;
      background-color: rgb(0, 0, 0);
      padding-bottom: 40px;

      .home__data {
        height: auto;
        width: 420px;

        .home__subtitle {
          margin-left: 20px;
          font-size: 28px;
          color: white;
        }

        .home__description {
          font-size: 16px;
          color: white;
          margin: auto;
          height: auto;
        }

        .button {
          height: 60px;
          margin-left: 120px;
        }
      }

      .home__img {
        img {
          margin-left: 20px;
          width: 240px;
          border-top-color: white;
          height: 240px;
        }
      }
    }

    .about__container {
      width: 100%;
      margin: auto;
      margin-top: 60px;

      .about__title {
        width: auto;
        margin-left: 0;
        font-size: 26px;
        text-align: center;
      }

      .description__paragraph {
        .description__flex {
          margin-top: 20px;
          max-width: 100%;
          display: flex;
          flex-direction: column;

          .my-description-title {
            height: auto;
            margin-left: 0px;

            .description-title {
              font-size: 20px;
              width: 100%;
              text-align: center;
            }

            ul {
              li {
                margin: 40px;
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 0;
              }
            }
          }

          .my-description-list {
            margin: 0 40px 40px 10px;
            width: 250px;
            line-height: 10px;
            height: auto;

            ul {
              li {
                margin: 40px;
                margin-left: 30px;
                font-size: 16px;
                line-height: 10px;
              }
            }
          }
        }
      }
    }

    .skills__container {
      height: auto;
      background-color: white;

      .skills__information-flex {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 80px;

        .skills__description {
          width: auto;
          margin-left: 0;
          margin-top: 40px;
          display: flex;
          flex-direction: column;

          .skills__titles {
            .skills__title {
              font-size: 38px;
              text-align: center;
            }

            .skills__subtitle-first {
              font-size: 30px;
              text-align: center;
              margin-top: O;
              color: var(--primary-red);
            }
          }

          .skills__list-front-end {

            display: inline-block;
            ul {
              li {
                margin-left: 40px;
                margin-right: 40px;
              }
            }
          }

          .btn__download {
            .btn {
              margin-top: 80px;
              margin-left: 90px;
            }
          }
        }

        .skills__img {
          width: 100%;
          height: auto;
          margin-top: 80px;

          img {
            width: 100%;
            height: auto;
            padding: 0px;
          }
        }
      }
    }

    .project__container {
      .next {
        width: 100%;
        margin-top: 180px;
        align-items: center;
        .project_title {
          font-size: 18px;
          text-align: justify;
        }

        img {
          width: 100%;
        }

        .realisation {
          text-align: center;
          font-size: 18px;
        }

        .numbers {
          .number {
            display: inline-block;
            margin-top: 30px;
            padding: 5px;
            cursor: pointer;
          }
        }
      }
    }

    .contactMe__section {
      height: auto;
      display: flex;
      flex-direction: column;
      background-color: var(--colorblue);

      .carnet__container {
        height: 500px;
        width: 100%;

        .form {
          height: 500px;
          width: 100%;
          margin: auto;

          input,
          textarea {
            height: 50px;
            width: 80%;
            margin-left: 30px;
            background-color: var(--colorblue);
          }
          .submitBtn {
            margin-top: 40px;
            margin-left: 80px;
          }
        }
      }
      .soc-container {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 10px;
        height: auto;
        margin-left: 70px;

        .whatasapp {
          border: none;

          a {
            .uil-whatsapp {
              font-size: 50px;
              color: white;
            }
          }
        }
        .facebook {
          border: none;

          a {
            .uil-facebook {
              font-size: 50px;
              color: white;
            }
          }
        }

        .github {
          border: none;
          a {
            .uil-github {
              font-size: 50px;
              color: white;
            }
          }
        }
      }
    }
  }
}
