@media screen and (max-width: 600px) {
  .header {
    height: auto;
    left: 0;
    top: 0;
   
    .nav {
      background-color: var(--colorblue);
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: var(--header-height);
      position: inherit;

      .redpart {
        color: var(--primary-red);
      }
      .nav__logo {
        cursor: pointer;
        margin-left: 60px;
        font-size: 14px;
        font-weight: 700;
        width: 200px;
      }
      .nav__logo:hover {
        color: var(--primary-red);
      }

      .nav__menu {
        visibility: hidden;

        ul {
          list-style: none;

          li {
            display: inline-block;
            padding: 50px;

            a {
              text-decoration: none;
              color: var(--first-color);
            }

            a:hover {
              color: var(--primary-red);
            }
          }
        }
      }

      .nav__btns {
        display: none;

        i {
          color: var(--first-color);
          margin-right: 60px;
          width: 30px;
        }

        i:hover {
          color: var(--primary-red);
        }

        .nav__close,
        .nav__apps {
          display: none;
        }
      }
    }
  }

  .main {
   
    .home__container {
      margin: auto;
      display: flex;
      flex-direction: column-reverse;
      background-color: black;
      padding-bottom: 40px;

      .home__data {
        height: auto;
        width: 300px;
        margin: auto;
        margin-top: 40px;

        .home__title {
          font-size: 14px;
        }

        .home__subtitle {
          margin-left: 20px;
          font-size: 28px;
          color: white;
        }

        .home__description {
          font-size: 16px;
          color: white;
          margin: auto;
          height: auto;
        }

        .button {
          height: 60px;
          margin-left: 70px;
        }
      }

      .home__img {
        margin-top: 20%;
        height: auto;
        width: 300px;

        img {
          margin-left: 20px;
          width: 240px;
          border-top-color: white;
          height: 240px;
        }
      }
    }

    .about__container {
      margin: auto;
      margin-top: 60px;
      background-color: white;

      .about__title {
        width: auto;
        margin-left: 0;
        font-size: 36px;
        text-align: left;
      }

      .description__paragraph {
        .description__flex {
          margin-top: 20px;
          max-width: 100%;
          display: flex;
          flex-direction: column;

          .my-description-title {
            height: auto;
            margin-left: 0px;

            .description-title {
              font-size: 24px;
              width: 100%;
            }

            ul {
              li {
                margin: 40px;
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 0;
              }
            }
          }

          .my-description-list {
            margin: 40px;
            width: 250px;
            margin-top: 0px;
            line-height: 10px;
            height: auto;

            ul {
              li {
                margin: 40px;
                margin-left: 30px;
                font-size: 16px;
                line-height: 10px;
              }
            }
          }
        }
      }
    }

    .skills__container {
      height: auto;
      background-color: white;

      .skills__information-flex {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 80px;

        .skills__description {
          width: auto;
          margin-left: 0;
          margin-top: 40px;
          display: flex;
          flex-direction: column;

          .skills__titles {
            .skills__title {
              font-size: 38px;
              text-align: center;
            }

            .skills__subtitle-first {
              font-size: 30px;
              text-align: center;
              margin-top: O;
              color: var(--primary-red);
            }
          }

          .skills__list-front-end {
            ul {
              li {
                margin-left: 40px;
                margin-right: 40px;
              }
            }
          }

          .btn__download {
            .btn {
              margin-top: 80px;
              margin-left: 90px;
            }
          }
        }

        .skills__img {
          width: 100%;
          height: auto;
          margin-top: 80px;

          img {
            width: 100%;
            height: auto;
            padding: 0px;
          }
        }
      }
    }

    .project__container {
      .next {
        width: 100%;
        margin-top: 180px;
        align-items: center;
        .project_title {
          font-size: 18px;
          text-align: justify;
        }

        img {
          width: 100%;
        }

        .realisation {
          text-align: center;
          font-size: 18px;
        }

        .numbers {
          .number {
            display: inline-block;
            margin-top: 30px;
            padding: 5px;
            cursor: pointer;
          }
        }
      }
    }

    .contactMe__section {
      height: auto;
      display: flex;
      flex-direction: column;
      background-color: var(--colorblue);

      .carnet__container {
        height: 500px;
        width: 100%;

        .form {
          height: 500px;
          width: 100%;
          margin: auto;

          input,
          textarea {
            height: 50px;
            width: 80%;
            margin-left: 30px;
            background-color: var(--colorblue);

          }
          .submitBtn {
            margin-top: 70px;
            margin-left: 80px;
          }
        }
      }
      .soc-container {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 10px;
        height: auto;
        margin-left: 70px;

        .whatasapp {
          border: none;

          a {
            .uil-whatsapp {
              font-size: 50px;
              color: white;
            }
          }
        }
        .facebook {
          border: none;

          a {
            .uil-facebook {
              font-size: 50px;
              color: white;
            }
          }
        }

        .github {
          border: none;
          a {
            .uil-github {
              font-size: 50px;
              color: white;
            }
          }
        }
      }
    }
  }
}

// =================================Phone==========================================
@media screen and (max-width: 320px) {
  .header {
    // ================================================nav============================================================================
    .nav {
      .nav__logo {
        cursor: pointer;
      }
      .nav__logo:hover {
        color: var(--primary-red);
      }

      .nav__btns {
        display: none;
      }
    }
  }

  .main {
  
    .home__container {
      max-width: 100%;

      .home__data {
        width: 270px;
        margin-left: 0;

        .button {
          height: 50px;
        }
      }

      .home__img {
        img {
          width: 200px;
          height: 200px;
        }
      }
    }

    .about__container {
      .about__title {
        font-size: 26px;
      }

      .description__paragraph {
        .description__flex {
          .my-description-title {
            .description-title {
              font-size: 18px;
              width: 100%;
            }

            ul {
              li {
                margin: 40px;
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 0;
              }
            }
          }

          .my-description-list {
            width: 250px;
            margin: 0 20px 40px 0;

            ul {
              li {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
    
    .skills__container {
      width: 100%;

      .skills__information-flex {
        margin-top: 100px;

        .skills__description {
          .skills__titles {
            .skills__title {
              font-size: 30px;
            }
            .skills__subtitle-first {
              font-size: 22px;
            }
          }

          .skills__list-front-end {
            ul {
              li {
                margin-left: 40px;
                margin-right: 40px;
              }
            }
          }

          .btn__download {
            .btn {
              margin: 80px;
            }
          }
        }

        .skills__img {
          margin-top: 100px;

          img {
            width: 80%;
            margin: 20px;
          }
        }
      }
    }

    .project__container {
      width: 100%;
      .next {
        .project_title {
          font-size: 20px;
        }
      }
    }

    .contactMe__section {

      .carnet__container {
        margin: 0;
        height: auto;
        margin-bottom: 40px;

        .form {
          margin: 0;
          height: auto;

          input,
          textarea {
            width: 100%;
            margin-left: 0;
          }
          .submitBtn {
            margin-top: 60px;
            margin-left: 20px;
            margin-bottom: 30px;
            width: 100px;
          }
        }
      }
      .soc-container {
        margin-top: 40px;

        .whatasapp {
          a {
            .uil-whatsapp {
              font-size: 40px;
            }
          }
        }
        .facebook {
          a {
            .uil-facebook {
              font-size: 40px;
            }
          }
        }

        .github {
          a {
            .uil-github {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 480px) {


  .main {
  
    .home__container {
      max-width: 100%;

      .home__data {
        width: 350px;
        margin-left: 0;

        .button {
          height: 50px;
          margin-left: 100px;
        }
      }

    }

    .skills__container {
      width: 100%;

      .skills__information-flex {
        margin-top: 100px;

        .skills__description {
      
          .btn__download {
            .btn {
              margin: 80px;
              margin-left: 120px;
            }
          }
        }
      }
    }

    .contactMe__section {

      .carnet__container {
        .form {
          .submitBtn {
            margin-top: 60px;
            margin-left: 60px;
            margin-bottom: 28px;
            width: 100px;
          }
        }
      }
    }
  }
}
