*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{

    --primary-red: #D53C42;
    --colorblue: #295481;
    --body-color: black;
    --first-color: #BCBCBC;
    --second-color: white;
    --a-font-size: 24px;
    --header-height: 100px;
    --section-padding: 2rem 0 4 rem;
    --font-family: 'Open Sans';
    --h2-size: 28px;
    --h1-size: 66px;
    --description-backgrround: #DADCDF;
  
}

html{

    scroll-behavior: smooth;
}


        .header{

            width: 100%;
            position: fixed;
            left: 0;
            
            .nav{

                max-width: 100%;
                background-color: var(--colorblue);
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: var(--header-height);

                .redpart{
                    color: var(--primary-red);
                }

                .nav__logo{

                    text-decoration: none;
                    color: var(--first-color);
                    cursor: pointer;
                    margin-left: 150px;
                }

                .nav__logo:hover{

                    color: var(--primary-red);
                }

                .nav__menu{

                    // visibility: hidden;
                    
                    ul{

                        list-style: none;

                        li{

                            display: inline-block;
                            padding: 50px;
                            // margin-right: 150px;

                            a{

                                text-decoration: none;
                                color: var(--first-color);
                                
                            }

                            a:hover{

                                color: var(--primary-red);
                            }
                        }
                    }
                }

                .nav__btns{

                    i{
                        color: var(--first-color);
                        margin-right: 60px;
                        width: 30px;
                    }

                    i:hover{

                        color: var(--primary-red);
                     
                    }
                }

            }
        }

        .main{

            .home{

                height: 800px;
                max-width: 100%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                background-color: var(--body-color);

                .home__data{

                    margin-top: 15%;
                    margin-left: 80px;
                    
                    border: 1px solid rgb(0, 0, 0);
                    height: 500px;
                    width: 35%;

                    .home__title{

                        color: var(--first-color);
                        padding-left: 20px;
                        font-family: var(--font-family);
                        font-size: var(--h2-size);
                    }

                    .home__subtitle{

                        font-family: var(--font-family);
                        font-size: var(--h1-size);
                        padding: 18px;
                        padding-top: 0px;
                        color: var(--first-color);

                    }

                    .home__subtitle-span{

                        color: var(--primary-red);
                    }

                    .home__description{

                        font-size: 24px;
                        padding-left: 20px;
                        color: var(--first-color);
                        font-style: var(--font-family);
                        padding-bottom: 50px;
                    }

                    .home__link-span{

                        color: var(--colorblue);
                        text-decoration: none;
                    }

                    .button{

                        padding-left: 20px;
                        color: var(--colorblue);
                        font-size: 20px;
                        text-decoration: none;

                        .button:hover{

                            color: #D53C42;
                        }

                    }   

                }

                .home__img{

                    margin-top: 10%;
                    margin-right: 150px;
                    
                    border: 1px solid rgb(0, 0, 0);
                    height: 500px;
                    width: 35%;
                    // background-color: #295481;

                    img{

                        border-radius: 50%;
                        width: 348px;
                        height: 345px;
                    }

                }

                .home__scroll{

                    width: 5%;
                    border: 1px solid rebeccapurple;
                    height: 500px;
                    margin-right: 20px;
                    padding-top: 120px;
                }
                
            }

            .about {

                .about__title{

                    width: 510px;
                    height: 424px;
                    font-size: 66px;
                    font-family: var(--font-family);
                    padding-top: 60px;
                    margin-left: 245px;                   
            
                }

                .description__paragraph{

                    height: 400px;
                    background-color: var(--description-backgrround);

                    .description__flex{

                       
                        margin: auto;
                        width: 80%;
                        height: 400px;
                        display: flex;
                        justify-content: flex-start;

                        .my-description-title{

                            margin: 30px;
                            width: 35%;
                            height: 350px;

                            .description-title{

                                padding-top: 20px;
                                font-size: 24px;
                                font-family: var(--font-family);
                                font-style: normal;
                                font-weight: 400px;

                                
                            }

                            ul{

                                li{

                                    
                                    padding-top: 20px;
                                    padding-left: 20px;
                                    font-size: 24px;
                                    font-family: var(--font-family);
                                    font-style: normal;
                                    font-weight: 400px;
                                    line-height: 20px;
                                    

                                }
                            }
                        }

                        .my-description-list{

                            width: 35%;
                            height: 350px;
                            margin: 30px;
                            ul{

                                
                                li{

                                   
                                    padding-top: 20px;
                                    padding-left: 20px;
                                    font-size: 24px;
                                    font-family: var(--font-family);
                                    font-style: normal;
                                    font-weight: 400px;
                                    line-height: 20px;
                                    

                                }
                            }
                        }

                    }

                }
            }

            .skills{

                .skills__information-flex{

                    height: 1000px;
                    background-color: #ffffff;
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    margin-left: 40px;
                    margin-top: 80px;
                    align-items: center;

                    .skills__description{

                        // border: 1px solid red;
                        width: 45%;
                        margin-left: 50px;
                        height: 900px;
                        margin-top: 40px;
                        display: flex;
                        flex-direction: column;

                        .skills__titles{

                            .skills__title{

                                font-family: var(--font-family);
                                font-style: normal;
                                font-weight: 400;
                                font-size: 32px;
                                text-align: center;
                            
                            }
    
                            .skills__subtitle-first{
    
                                font-family: var(--font-family);
                                font-style: normal;
                                font-weight: 400;
                                font-size: 28px;
                                text-align: center;
                                line-height: 40px;
                                margin-top: 40px;
                                color: var(--primary-red);
    
                            }
                        }

                        .skills__list-front-end{

                            ul{

                                margin-top: 20px;
                                font-family: var(--font-family);
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 30px;
                                color: var(--first-color);
                                

                                li{

                                    margin-left: 100px;
                                    
                                }
                            }
                        }

                        .btn__download{
                            .btn{

                                height: 40px;
                                width: 100px;
                                background-color: var(--colorblue);
                                text-align: center;
                                color: white;
                                border-radius: 15px;
                                margin-left: 100px;
                                margin-top: 40px;
                                cursor: pointer;
                            
                            }

                            .btn:hover{

                                background-color: var(--primary-red);
                            }
                        }

                   
                    }

                    .skills__img{

                        border: 1px solid red;
                        border-radius: 15px;
                        width: 30%;
                        margin: 20px;
                        margin-left: 60px;
                        height: 620px;
                        margin-top: 40px;
                        background-color: var(--primary-red);

                        .first__row{

                            display: flex;
                            justify-content: center;
                            height: 100px;
                            // border: 1px solid black;
                            margin: 25px;

                            .row{
                                padding-left: 40px;
                              
                            }
                            

                        }

                        .second__row{

                            display: flex;
                            justify-content: center;
                            height: 100px;
                            border: 1px solid rgb(255, 255, 255);
                            margin: 15px;

                            .row{
                                padding-left: 40px;
                              
                            }

                            .row-js{

                                margin-top: 10px;
                                margin-bottom: 10px;
                        }

                        .third__row{

                            display: flex;
                            justify-content: center;
                            height: 100px;
                            border: 1px solid black;
                            margin: 25px;

                        }

                        .forth__row{

                            display: flex;
                            justify-content: space-between;
                            height: 100px;
                            border: 1px solid rgb(251, 251, 251);
                            margin: 10px;

                        }

                        .fifth__row{

                            display: flex;
                            justify-content: space-between;
                            height: 100px;
                            border: 1px solid rgb(255, 255, 255);
                            margin: 10px;

                        }


                    }

                }
            }
        }
    
























































































//             ul{
//                 list-style-type: none;
    
//                 li{
//                     display: inline-block;
//                     margin-top: 20px;
//                     padding-right: 60px;
                    
                   
    
//                     a{
//                         text-decoration: none;
//                         color: black;
//                         font-family: 'Open Sans';
//                         font-style: normal;
//                         font-weight: 400;
//                         font-size: 24px;
//                         line-height: 49px;
    
                     
                    
//                     }
                    
//                 }
//             }
    
        
    
//         }

//     }

   
    
//     main{

//         background-color: rgb(0, 0, 0);
//         height: 800px;
//         max-width: 100%;
//         margin: auto;
//         display: flex;
//         justify-content: space-between;
    
        

//         .id-container{

//             margin-top: 10%;
//             margin-left: 50px;

//             // border: 1px solid white;
//             height: 500px;
//             width: 45%;
//             // background-color: rebeccapurple;

//             .greeting{

//                 position: absolute;
//                 width: 354px;
//                 height: 82px;
//                 font-family: 'Open Sans';
//                 font-style: normal;
//                 font-weight: 700;
//                 font-size: 26px;
//                 color: #929292;
//                 left: 88px;
//             }

//             .my-name{

//                 position: absolute;
//                 width: 683px;
//                 height: 131px;
//                 left: 85px;
        

//                 font-family: 'Open Sans';
//                 font-style: normal;
//                 font-weight: 700;
//                 font-size: 66px;
//                 line-height: 121px;
//                 /* identical to box height */
//                 color: #fcfcfc;

//             }

        

//             .description{

//                 position: absolute;
//                 width: 603px;
//                 left: 88px;

//                 font-family: 'Open Sans';
//                 font-style: normal;
//                 font-weight: 400;
//                 font-size: 24px;
//                 top: 410px;
//                 // line-height: 39px;

//                 color: #BCBCBC;

//             }
//             .contact{

            
//                 position: absolute;
//                 left: 3.5%;
//                 top: 72.33%;

//                 font-family: 'Open Sans';
//                 font-style: normal;
//                 font-weight: 400;
//                 font-size: 20px;
//                 text-decoration: none;
//                 text-align: center;
//                 color: #FFFFFF;
    

//                 width: 164px;
//                 height: 55px;

               
//             }
            
            
//         }

//         .profile-container{

//             margin-top: 8%;
//             margin-right: 50px;
//             // border: 1px solid white;
//             height: 500px;
//             width: 45%;
//             // background-color: rebeccapurple;

//             img{

//                 position: absolute;
//                 width: 348px;
//                 height: 325px;
//                 margin-left: 120px;
//                 // left: 1126px;
//                 // top: 432px;
//                 border-radius: 50%;


//             }

//         }
//     }
// }

// .red-color{

//     color: #D53C42
// }

// .blue-color{

//     color: #295481;
// }


  

