* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-red: #d53c42;
  --colorblue: #2596be;
  --body-color: black;
  --first-color: #bcbcbc;
  --second-color: white;
  --a-font-size: 24px;
  --header-height: 100px;
  --section-padding: 2rem 0 4 rem;
  --font-family: "Open Sans";
  --h2-size: 28px;
  --h1-size: 66px;
  --description-backgrround: #dadcdf;
  --border-top: 1px solid #bcbcbc;
  --form__color: white;
  --border-fifteen: 15px;
  --black-color: black;
  --homeSection-background-color: rgb(255, 255, 255);
  --front-padding: 80px;
  --golden-color: goldenrod;
  --fts-black: black;
  --h2__size-mobile: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
}

.header {
  width: auto;
  height: auto;
  left: 0;
  margin: auto;
}
.header .nav {
  max-width: 100%;
  background-color: var(--colorblue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}
.header .nav .redpart {
  color: var(--primary-red);
}
.header .nav .nav__logo {
  text-decoration: none;
  color: var(--first-color);
  cursor: pointer;
  margin-left: 150px;
}
.header .nav .nav__logo:hover {
  color: var(--primary-red);
}
.header .nav .nav__menu ul {
  list-style: none;
}
.header .nav .nav__menu ul li {
  display: inline-block;
  padding: 50px;
}
.header .nav .nav__menu ul li a {
  text-decoration: none;
  color: var(--first-color);
}
.header .nav .nav__menu ul li a:hover {
  color: var(--primary-red);
}
.header .nav .nav__btns i {
  color: var(--first-color);
  margin-right: 60px;
  width: 30px;
}
.header .nav .nav__btns i:hover {
  color: var(--primary-red);
}
.header .nav .nav__btns .nav__close,
.header .nav .nav__btns .nav__apps {
  display: none;
}

.main .home__container {
  height: auto;
  max-width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--homeSection-background-color);
  border-bottom: 1px solid rgb(163, 163, 163);
}
.main .home__container .home__data {
  margin-top: 20%;
  margin-left: 0;
  height: auto;
  width: auto;
  color: var(--black-color);
}
.main .home__container .home__data .home__title {
  padding-left: 20px;
  font-size: var(--h2-size);
}
.main .home__container .home__data .home__subtitle {
  font-size: var(--h1-size);
  padding: 18px;
  padding-top: 0px;
  color: var(--black-color);
}
.main .home__container .home__data .home__subtitle-span {
  color: var(--primary-red);
}
.main .home__container .home__data .home__description {
  font-size: 24px;
  padding-left: 20px;
  padding-bottom: 50px;
  width: 90%;
  text-align: justify;
}
.main .home__container .home__data .home__link-span {
  color: var(--colorblue);
  text-decoration: none;
}
.main .home__container .home__data .button {
  width: 150px;
  height: 60px;
  margin-left: 20px;
  display: inline-block;
  color: var(--second-color);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 60px;
  padding-top: 15px;
  background-color: var(--colorblue);
  border-radius: 15px;
  cursor: pointer;
}
.main .home__container .home__data .button:hover {
  background-color: var(--primary-red);
}
.main .home__container .home__img {
  margin: 20% 120px 0 30px;
  height: auto;
  width: 35%;
}
.main .home__container .home__img img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.main .about__container {
  height: auto;
  width: 60%;
  margin: auto;
  border-bottom: 1px solid rgb(163, 163, 163);
}
.main .about__container .about__title {
  width: 400px;
  height: auto;
  font-size: 56px;
  margin: 15% 0px 40px 30px;
}
.main .about__container .description__paragraph .description__flex {
  margin-top: 80px 0 60px 60px;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}
.main .about__container .description__paragraph .description__flex .my-description-title {
  margin: 30px;
  width: auto;
  height: 350px;
}
.main .about__container .description__paragraph .description__flex .my-description-title .description-title {
  padding-top: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400px;
  width: 600px;
  text-align: justify;
}
.main .about__container .description__paragraph .description__flex .my-description-title ul li {
  padding-top: 20px;
  margin-left: 100px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400px;
  line-height: 20px;
  list-style: none;
}
.main .about__container .description__paragraph .description__flex .my-description-title ul li .uil-check-circle {
  color: goldenrod;
}
.main .about__container .description__paragraph .description__flex .my-description-list {
  width: 35%;
  height: 350px;
  margin: 30px;
}
.main .about__container .description__paragraph .description__flex .my-description-list ul li {
  list-style: none;
  padding-top: 20px;
  margin-left: var(--front-padding);
  font-size: 24px;
  font-style: normal;
  font-weight: 400px;
  line-height: 20px;
}
.main .about__container .description__paragraph .description__flex .my-description-list ul li .uil-check-circle {
  color: goldenrod;
}
.main .skills__container {
  height: auto;
  width: 60%;
  margin: auto;
}
.main .skills__container .skills__information-flex {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.main .skills__container .skills__information-flex .skills__description {
  width: auto;
  margin: 40px 0 0 30px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.main .skills__container .skills__information-flex .skills__description .skills__titles .skills__title {
  font-weight: 700;
  font-size: 38px;
}
.main .skills__container .skills__information-flex .skills__description .skills__titles .skills__subtitle-first {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  line-height: 40px;
  margin-top: 60px;
  color: white;
  background-color: var(--colorblue);
}
.main .skills__container .skills__information-flex .skills__description .skills__list-front-end ul {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.main .skills__container .skills__information-flex .skills__description .skills__list-front-end ul li {
  margin-left: 60px;
  list-style: none;
}
.main .skills__container .skills__information-flex .skills__description .skills__list-front-end ul li .uil-check-circle {
  color: var(--golden-color);
}
.main .skills__container .skills__information-flex .skills__description .btn__download .btn {
  height: 60px;
  width: 150px;
  background-color: var(--colorblue);
  text-align: center;
  color: var(--second-color);
  border-radius: 15px;
  margin: 60px 0 0 100px;
  font-size: 20px;
  cursor: pointer;
}
.main .skills__container .skills__information-flex .skills__description .btn__download .btn:hover {
  background-color: var(--primary-red);
}
.main .skills__container .skills__information-flex .skills__img {
  width: auto;
  margin: auto;
  height: auto;
}
.main .skills__container .skills__information-flex .skills__img img {
  width: 500px;
  padding-left: 80px;
  height: 700px;
}
.main .project__container {
  height: auto;
  max-width: 60%;
  margin: auto;
  margin-top: 200px;
  border-top: var(--border-top);
}
.main .project__container .next {
  width: 600px;
  margin: auto;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .project__container .next .project_title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 50px;
}
.main .project__container .next .realisation {
  text-align: center;
  width: 765px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 0.08em;
  padding-top: 60px;
  color: var(--primary-red);
}
.main .project__container .next .numbers {
  margin-bottom: 240px;
}
.main .project__container .next .numbers .number {
  display: inline-block;
  margin-top: 30px;
  padding: 10px;
  font-size: 16px;
  font-family: var(--font-family);
  font-style: normal;
  color: var(--colorblue);
  cursor: pointer;
}
.main .project__container .next .numbers .number:hover {
  color: black;
}
.main .contactMe__section {
  height: auto;
  border-top: var(--border-top);
  max-width: 50%;
  margin: auto;
  align-items: center;
  align-content: center;
  background-color: var(--colorblue);
  display: flex;
  display: none;
  justify-content: space-between;
  border-radius: 15px;
}
.main .contactMe__section .carnet__container {
  height: 600px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
}
.main .contactMe__section .carnet__container .form {
  height: 500px;
  width: 90%;
  margin: 40px 0 0 40px;
  border: 1px solid #bcbcbc;
  border-radius: 15px;
}
.main .contactMe__section .carnet__container .form .form__title {
  text-align: center;
  color: white;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.main .contactMe__section .carnet__container .form .form__title .uil-envelope-check {
  width: 150px;
  height: 150px;
  color: var(--form__color);
  font-size: 24px;
}
.main .contactMe__section .carnet__container .form input,
.main .contactMe__section .carnet__container .form textarea {
  height: 50px;
  width: 70%;
  background-color: var(--colorblue);
  margin-left: 90px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  opacity: 50%;
  padding-top: 30px;
}
.main .contactMe__section .carnet__container .form .btn__submit {
  margin: 130px 0 0 90px;
  height: 60px;
  width: 140px;
  background-color: var(--colorblue);
  color: white;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  border: 1px solid white;
  border-radius: var(--border-fifteen);
}
.main .contactMe__section .carnet__container .form .btn__submit:hover {
  background-color: var(--primary-red);
}
.main .contactMe__section .carnet__container .form input::-moz-placeholder, .main .contactMe__section .carnet__container .form textarea::-moz-placeholder {
  color: white;
}
.main .contactMe__section .carnet__container .form input:-ms-input-placeholder, .main .contactMe__section .carnet__container .form textarea:-ms-input-placeholder {
  color: white;
}
.main .contactMe__section .carnet__container .form input::placeholder,
.main .contactMe__section .carnet__container .form textarea::placeholder {
  color: white;
}
.main .contactMe__section .soc-container {
  height: 500px;
  width: 10%;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
}
.main .contactMe__section .soc-container .whatasapp {
  height: 100px;
  width: auto;
  border: 2px solid #bcbcbc;
  border-radius: 5px;
  margin: auto;
}
.main .contactMe__section .soc-container .whatasapp a .uil-whatsapp {
  color: white;
  font-size: 70px;
}
.main .contactMe__section .soc-container .whatasapp:hover {
  background-color: var(--primary-red);
}
.main .contactMe__section .soc-container .facebook {
  height: 100px;
  width: auto;
  border: 2px solid #bcbcbc;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: auto;
}
.main .contactMe__section .soc-container .facebook a .uil-facebook {
  font-size: 70px;
  color: white;
}
.main .contactMe__section .soc-container .facebook:hover {
  background-color: var(--primary-red);
}
.main .contactMe__section .soc-container .github {
  height: 100px;
  width: auto;
  border: 2px solid #bcbcbc;
  border-radius: 5px;
  margin: auto;
}
.main .contactMe__section .soc-container .github a .uil-github {
  font-size: 70px;
  color: white;
}
.main .contactMe__section .soc-container .github:hover {
  background-color: var(--primary-red);
}
.main .footer__container {
  height: 100px;
  max-width: 100%;
  background-color: rgb(59, 72, 73);
  margin-top: 30px;
}
.main .footer__container .footle__title {
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-top: 30px;
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
  }
  .header .nav {
    max-width: 600px;
    background-color: var(--colorblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    position: inherit;
  }
  .header .nav .redpart {
    color: var(--primary-red);
  }
  .header .nav .nav__logo {
    cursor: pointer;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 700;
    width: 160px;
  }
  .header .nav .nav__logo:hover {
    color: var(--primary-red);
  }
  .header .nav .nav__menu {
    visibility: hidden;
  }
  .header .nav .nav__menu ul {
    list-style: none;
  }
  .header .nav .nav__menu ul li {
    display: inline-block;
    padding: 50px;
  }
  .header .nav .nav__menu ul li a {
    text-decoration: none;
    color: var(--first-color);
  }
  .header .nav .nav__menu ul li a:hover {
    color: var(--primary-red);
  }
  .header .nav .nav__btns {
    display: none;
  }
  .header .nav .nav__btns i {
    color: var(--first-color);
    margin-right: 60px;
    width: 30px;
  }
  .header .nav .nav__btns i:hover {
    color: var(--primary-red);
  }
  .header .nav .nav__btns .nav__close,
.header .nav .nav__btns .nav__apps {
    display: none;
  }
  .main .home__container {
    max-width: 100%;
    min-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    padding-bottom: 40px;
  }
  .main .home__container .home__data {
    height: auto;
    width: auto;
  }
  .main .home__container .home__data .home__title {
    font-size: 12px;
  }
  .main .home__container .home__data .home__subtitle {
    font-size: 36px;
    color: white;
  }
  .main .home__container .home__data .home__description {
    font-size: 20px;
    width: 400px;
    margin: auto;
    margin-left: 0;
    height: auto;
    text-align: justify;
    overflow: scroll;
  }
  .main .home__container .home__data .button {
    color: var(--colorblue);
    padding-left: 0;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid white;
    background-color: var(--colorblue);
    color: white;
    height: 80px;
    margin-left: 20px;
  }
  .main .home__container .home__data .button .button:hover {
    color: #d53c42;
  }
  .main .home__container .home__img {
    margin-top: 30%;
    height: auto;
    width: 100%;
  }
  .main .home__container .home__img img {
    margin-left: 20%;
  }
  .main .about__container {
    width: 100%;
  }
  .main .about__container .about__title {
    width: 400px;
    height: auto;
    text-align: center;
  }
  .main .about__container .description__paragraph .description__flex {
    margin-top: 80px;
    margin-left: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main .about__container .description__paragraph .description__flex .my-description-title {
    margin: 30px;
    height: auto;
  }
  .main .about__container .description__paragraph .description__flex .my-description-title .description-title {
    font-size: 18px;
    width: auto;
    text-align: justify;
  }
  .main .about__container .description__paragraph .description__flex .my-description-title ul li {
    margin: 40px;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 0;
  }
  .main .about__container .description__paragraph .description__flex .my-description-list {
    margin: 30px;
    margin-top: 0px;
    height: auto;
  }
  .main .about__container .description__paragraph .description__flex .my-description-list ul li {
    margin: 40px;
    font-size: 16px;
    line-height: 10px;
  }
  .main .skills__container {
    height: auto;
    width: 100%;
  }
  .main .skills__container .skills__information-flex {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }
  .main .skills__container .skills__information-flex .skills__description {
    width: auto;
    margin-left: 0;
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .main .skills__container .skills__information-flex .skills__description .skills__titles .skills__title {
    font-size: 38px;
    text-align: center;
  }
  .main .skills__container .skills__information-flex .skills__description .skills__titles .skills__subtitle-first {
    font-size: 32px;
    text-align: center;
    margin-top: O;
    color: var(--primary-red);
  }
  .main .skills__container .skills__information-flex .skills__description .skills__list-front-end ul li {
    margin-left: 40px;
    margin-right: 40px;
  }
  .main .skills__container .skills__information-flex .skills__description .btn__download .btn {
    margin-top: 80px;
    margin-left: 120px;
  }
  .main .skills__container .skills__information-flex .skills__img {
    width: 70%;
    height: auto;
    margin-top: 80px;
  }
  .main .project__container {
    max-width: 100%;
    margin: 20px;
  }
  .main .project__container .title__container {
    width: 100%;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .project__container .title__container .project_title {
    font-size: 18px;
    text-align: justify;
    margin: 20px;
  }
  .main .project__container .title__container img {
    width: 60%;
  }
  .main .project__container .title__container a {
    font-size: 24px;
  }
  .main .project__container .title__container .next {
    margin-bottom: 240px;
  }
  .main .project__container .title__container .next .next__ul {
    list-style: none;
  }
  .main .project__container .title__container .next .next__ul .next__ul-li {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
  }
  .main .project__container .title__container .next .next__ul .next__ul-li a {
    text-decoration: none;
    font-size: 16px;
    font-family: var(--font-family);
    font-style: normal;
    color: var(--colorblue);
  }
  .main .project__container .title__container .next .next__ul .next__ul-li a:hover {
    color: black;
  }
  .main .contactMe__section {
    height: auto;
    max-width: 60%;
    display: block;
    background-color: var(--colorblue);
  }
  .main .contactMe__section .id__container {
    height: 500px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: 25%;
    display: block;
  }
  .main .contactMe__section .id__container .identity {
    width: 80%;
    height: 140px;
  }
  .main .contactMe__section .id__container .identity .id__title {
    padding-top: 20px;
    position: inherit;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: white;
  }
  .main .contactMe__section .id__container .motal__title {
    width: 80%;
    height: auto;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    color: var(--colorblue);
  }
  .main .contactMe__section .carnet__container {
    height: 600px;
    width: 60%;
    margin: auto;
  }
  .main .contactMe__section .carnet__container .form {
    height: 500px;
    width: 70%;
    margin: auto;
    margin-bottom: 0%;
  }
  .main .contactMe__section .carnet__container .form input,
.main .contactMe__section .carnet__container .form textarea {
    height: 50px;
    width: 60%;
    background-color: var(--colorblue);
  }
  .main .contactMe__section .carnet__container .form .btn__submit {
    margin-top: 70px;
  }
  .main .contactMe__section .soc-container {
    margin-top: 0;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
    margin-left: 20px;
    align-content: center;
  }
  .main .contactMe__section .soc-container .whatasapp {
    height: 70px;
    width: auto;
    margin: auto;
  }
  .main .contactMe__section .soc-container .whatasapp a .uil-whatsapp {
    color: white;
    font-size: 60px;
  }
  .main .contactMe__section .soc-container .whatasapp:hover {
    background-color: var(--primary-red);
  }
  .main .contactMe__section .soc-container .facebook {
    height: 70px;
    width: auto;
    border: 1px solid #bcbcbc;
    margin-bottom: 20px;
    border-radius: 5px;
    margin: auto;
  }
  .main .contactMe__section .soc-container .facebook a .uil-facebook {
    font-size: 60px;
    color: white;
  }
  .main .contactMe__section .soc-container .facebook:hover {
    background-color: var(--primary-red);
  }
  .main .contactMe__section .soc-container .github {
    height: 70px;
    width: auto;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    margin: auto;
  }
  .main .contactMe__section .soc-container .github a .uil-github {
    font-size: 60px;
    color: white;
  }
  .main .contactMe__section .soc-container .github:hover {
    background-color: var(--primary-red);
  }
  .main .animation__section {
    background: goldenrod;
    height: 300px;
    max-width: 100%;
  }
  .main .animation__section #container {
    width: 90%;
    max-width: 700px;
    margin: 1em auto;
    position: relative;
  }
  .main .footer__container {
    height: 80px;
    max-width: 100%;
    background-color: black;
  }
  .main .footer__container .footle__title {
    color: white;
    text-align: center;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-top: 30px;
  }
}/*# sourceMappingURL=style.css.map */