*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{

    --primary-red: #D53C42;
    --colorblue: #295481;
    --body-color: black;
    --first-color: #BCBCBC;
    --second-color: white;
    --a-font-size: 24px;
    --header-height: 100px;
    --section-padding: 2rem 0 4 rem;
    --font-family: 'Open Sans';
    --h2-size: 28px;
    --h1-size: 66px;
    --description-backgrround: #DADCDF;
    --border-top: 1px solid #BCBCBC;
    --form__color : white;
    --border-fifteen: 15px;
    --black-color: black;
    --homeSection-background-color: white;
    --front-padding: 80px;


    // ==========================================600px=========================================================
   
    --h2__size-mobile: 16px;
  
}

html{
    scroll-behavior: smooth;
}

// ================================================header============================================================================
        .header{

            width: 100%;
            height: auto;
            position: fixed;
            left: 0;
// ================================================nav============================================================================
            .nav{

                max-width: 100%;
                background-color: var(--colorblue);
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: var(--header-height);
               

                .redpart{
                    color: var(--primary-red);
                }

                .nav__logo{

                    text-decoration: none;
                    color: var(--first-color);
                    cursor: pointer;
                    margin-left: 150px;
                }

                .nav__logo:hover{

                    color: var(--primary-red);
                }

                .nav__menu{

                    // visibility: hidden;
                    
                    ul{

                        list-style: none;

                        li{

                            display: inline-block;
                            padding: 50px;
                            // margin-right: 150px;

                            a{

                                text-decoration: none;
                                color: var(--first-color);
                                
                            }

                            a:hover{

                                color: var(--primary-red);
                            }
                        }
                    }
                }

                .nav__btns{

                   


                    i{
                        color: var(--first-color);
                        margin-right: 60px;
                        width: 30px;
                    }

                    i:hover{

                        color: var(--primary-red);
                     
                    }


                    .nav__close, .nav__apps{
                        display: none;

                    }
                }

            }
        }

        .main{

            //===========================Home section==================================================
            .home__container{

                height: auto;
                max-width: 80%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                background-color: var(--homeSection-background-color);

                .home__data{

                    margin-top: 20%;
                    margin-left: var(--front-padding);
                    height: auto;
                    width: auto;

                    .home__title{

                        color: var(--first-color);
                        padding-left: 20px;
                        font-family: var(--font-family);
                        font-size: var(--h2-size);
                    }

                    .home__subtitle{

                        font-family: var(--font-family);
                        font-size: var(--h1-size);
                        padding: 18px;
                        padding-top: 0px;
                        color: var(--black-color);
                    }

                    .home__subtitle-span{

                        color: var(--primary-red);
                    }

                    .home__description{

                        font-size: 24px;
                        padding-left: 20px;
                        color: var(--first-color);
                        font-style: var(--font-family);
                        padding-bottom: 50px;
                        width: 70%;
                    }

                    .home__link-span{

                        color: var(--colorblue);
                        text-decoration: none;
                    }

                    .button{

                        padding-left: 20px;
                        color: var(--colorblue);
                        font-size: 20px;
                        text-decoration: none;

                        .button:hover{
                            color: #D53C42;
                        }

                    }   

                }

                .home__img{

                    margin-top: 20%;
                    margin-right: 150px;
                    height: auto;
                    width: 35%;

                    img{

                        border-radius: 50%;
                        width: 250px;
                        height: 250px;
                
                    }

                }

                .home__scroll{

                    width: 5%;
                    border: 1px solid rebeccapurple;
                    height: 500px;
                    margin-right: 20px;
                    padding-top: 120px;
                }
                
            }

            //===========================About section==================================================

            .about__container {

                height: auto;
                width: 80%;
                margin: auto;

                .about__title{

                    width: 400px;
                    height: auto;
                    font-size: 56px;
                    font-family: var(--font-family);
                    margin-bottom: 40px;
                    margin-top: 15%;
                    margin-left: var(--front-padding);                  
                }

                .description__paragraph{

                    .description__flex{

                        margin-top: 80px;
                        margin-left: 60px;
                        max-width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: flex-start;
                        margin-bottom: 60px;

                        .my-description-title{

                            margin: 30px;
                            width: auto;
                            height: 350px;

                            .description-title{

                                padding-top: 20px;
                                font-size: 24px;
                                font-family: var(--font-family);
                                font-style: normal;
                                font-weight: 400px;  
                                width: 600px;
                            }

                            ul{
                                li{
                                    padding-top: 20px;
                                    margin-left: 100px;
                                    font-size: 24px;
                                    font-family: var(--font-family);
                                    font-style: normal;
                                    font-weight: 400px;
                                    line-height: 20px;
                                    list-style: none;

                                    .uil-check-circle{
                                        color: goldenrod;
                                    }
                                    
                                }
                            }
                        }

                        .my-description-list{

                            width: 35%;
                            height: 350px;
                            margin: 30px;

                            ul{
   
                                li{

                                    list-style: none;
                                    padding-top: 20px;
                                    margin-left: var(--front-padding);
                                    font-size: 24px;
                                    font-family: var(--font-family);
                                    font-style: normal;
                                    font-weight: 400px;
                                    line-height: 20px;

                                    .uil-check-circle{
                                        color: goldenrod;
                                    }
                                
                                }
                            }
                        }

                    }

                }
            }

            //===========================Skills section=================================================
            .skills__container{

                height: auto;
                width: 80%;
                margin: auto;

                .skills__information-flex{

                    height: auto;
                    margin: auto;
                    background-color: white;
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    margin-top: 80px;
                    align-items: center;

                    .skills__description{

                        width: auto;
                        margin-left: 50px;
                        height: 900px;
                        margin-top: 40px;
                        display: flex;
                        flex-direction: column;

                        .skills__titles{

                            .skills__title{

                                font-family: var(--font-family);
                                font-style: normal;
                                font-weight: 400;
                                font-size: 32px;
                                text-align: center;
                            
                            }
    
                            .skills__subtitle-first{
    
                                font-family: var(--font-family);
                                font-style: normal;
                                font-weight: 400;
                                font-size: 28px;
                                text-align: center;
                                line-height: 40px;
                                margin-top: 40px;
                                color: var(--primary-red);
    
                            }
                        }

                        .skills__list-front-end{

                            ul{

                                margin-top: 20px;
                                font-family: var(--font-family);
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 30px;
                                color: var(--first-color);
                                

                                li{

                                    margin-left: 100px;
                                    list-style: none;

                                    .uil-check-circle{
                                        color: goldenrod;
                                    }
                                    
                                }
                            }
                        }

                        .btn__download{
                            .btn{

                                height: 40px;
                                width: 100px;
                                background-color: var(--colorblue);
                                text-align: center;
                                color: white;
                                border-radius: 15px;
                                margin-left: 100px;
                                margin-top: 40px;
                                cursor: pointer;
                            
                            }

                            .btn:hover{

                                background-color: var(--primary-red);
                            }
                        }
                    }

                    .skills__img{

                        border-radius: 15% 0 15% 0;
                        width: auto;
                        margin: 20px;
                        margin-left: 60px;
                        height: 620px;
                        margin-top: 40px;
                        background-color: var(--colorblue);
                        border: 2px solid goldenrod;

                        .first__row{

                            display: flex;
                            justify-content: center;
                            height: 100px;
                            margin: 15px;

                            .row{
                                padding-left: 40px;
                                border-radius: 50%;
                              
                            }

                            .devops{

                                width: 120px;
                                height: 70px;
                            }
                            

                        }

                        .second__row{

                            display: flex;
                            justify-content: center;
                            height: 100px;
                            margin: 15px;
                            margin-left: 0px;

                            .row{
                                padding-left: 15px;
                              
                            }
                            .row-js{

                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                        }    

                        .third__row{

                            display: flex;
                            justify-content: space-around;
                            height: 100px;
                            margin: 15px;
                            margin-left: 0px;
                            margin-right: 30px;

                            .row{
                                padding-left: 60px;
                              
                            }

                            .row-js{

                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                            
                            .triangle{

                                height: 80px;
                            }

                        }

                        .forth__row{

                            display: flex;
                            justify-content: space-between;
                            height: 100px;
                            margin: 15px;

                            .row{

                                padding-left: 40px;  
                            }

                            .row-js{

                                margin-top: 10px;
                                margin-bottom: 10px;
                            }

                            .chatgpt{

                                // border: 1px solid white;
                                border-radius: 10px;
                                width: 120px;
                                height: 80px;
                            }

                        }

                        .fifth__row{

                            display: flex;
                            justify-content: space-between;
                            height: 100px;
                            margin: 15px;

                            .row{
                                padding-left: 40px;  
                            }

                            .row-js{

                                margin-top: 10px;
                                margin-bottom: 10px;
                            }

                            .responsive{

                                border-radius: 50% 50% 47% 53% / 50% 48% 52% 50%;
                                width: 120px;
                                height: 80px;
                            }

                            .MySQL{

                                width: 140px;
                                height: 80px;
                            }

                        }
                    }

                }
            }

            //===========================project section================================================

            .project__container{

                height: auto;
                max-width: 80%;
                margin: auto;
                border-top: var(--border-top);
                margin-top: 250px;

                .title__container{

                    width: 600px;
                    margin: auto;
                    margin-top: 180px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .project_title{

                        font-family: var(--font-family);
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        padding-bottom: 50px;
                    }

                    a{

                        text-align: center;
                        width: 765px;
                        font-family: var(--font-family);
                        font-style: normal;
                        font-weight: 700;
                        font-size: 34px;
                        letter-spacing: 0.08em;
                        padding-top: 60px;
                        color: #D53C42;

                    }

                    .next{

                        margin-bottom: 240px;
     
                        .next__ul{

                            list-style: none;

                            .next__ul-li{

                                display: inline-block;
                                margin-top: 20px;
                                padding: 10px;
                                                          
                                a{
                                    text-decoration: none;
                                    font-size: 16px;
                                    font-family: var(--font-family);
                                    font-style: normal;
                                    color: var(--colorblue);
                                }

                                a:hover{

                                    color: black;
                                }
                                
                            }
                        }
                    }

                }


            }

            //===========================contact section=================================================

            .contactMe__section{

                height: auto;
                border-top: var(--border-top);
                max-width: 80%;
                margin: auto;
                background-color: var(--colorblue);
                display: flex;
                justify-content: center;
                border-radius: 15px;
                // visibility: hidden;

                .id__container{

                    height: 500px;
                    width: auto;
                    margin: auto;
                    margin-top: 60px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .myProfile{

                        width: 80%;
                        height: 200px;

                        img{

                            border-radius: 50%;
                            // border: 1px solid #F7F7F7;
                            width: 80%;
                            height: 200px;
                      
                        }
                    }

                    .identity{

                        width: 80%;
                        height: 140px;
                        // border: 1px solid blueviolet;

                        .id__title{

                            width: 280px;
                            padding-top: 20px;
                            position: absolute;
                            font-family: var(--font-family);
                            font-style: normal;
                            font-weight: 700;
                            font-size: 30px;
                            color: var(--first-color);

                        }
                    }

                    .motal__title{

                        width: 80%;
                        height: auto;
                        font-family: var(--font-family);
                        font-style: normal;
                        font-weight: 300;

                    }

                }

                .carnet__container{

                    height: 600px;
                    width: 40%;
                    margin-top: 20px;

                    .form{

                        height: 500px;
                        width: auto;
                        margin: auto;
                        margin-top: 40px;
                        border: 1px solid #BCBCBC;
                        border-radius: 15px;

                        .form__title{

                            text-align: center;
                            color: white;
                            padding-bottom: 20px;
                            margin-bottom: 20px;
                            font-family: var(--font-family);

                            .uil-envelope-check{

                                width: 150px;
                                height: 150px;
                                color: var(--form__color);
                                font-size: 24px;
                            }
                        }

                        input, textarea {

                            height: 50px;
                            width: 70%;
                            background-color: var(--colorblue);
                            margin-left: 90px;
                            box-sizing: border-box;
                            border: 1px solid rgb(255, 255, 255);
                            border-left: none;
                            border-right: none;
                            border-top: none;
                            opacity: 50%;
                            padding-top: 30px;    
                        }

                        .btn__submit{

                            margin-top: 130px;
                            margin-left: 90px;
                            height: 60px;
                            width: 140px;
                            background-color: var(--primary-red);
                            color: white;
                            font-family: var(--font-family);
                            font-style: normal;
                            font-weight: 300;
                            font-size: 20px;
                            border: 1px solid white;
                            border-radius: var(--border-fifteen);
                        }
                        
                        .btn__submit:hover{

                            color: black;
                            background-color: var(--first-color);
                        }

                        input::placeholder, textarea::placeholder {
                            color: white;
                        }
                      
                    }

                }

                .soc-container{

                    height: 500px;
                    width: auto;
                    margin: auto;
                    margin-top: 50px;
                    margin-right: 250px;
                    display: flex;
                    flex-direction: column;
                   
                    .whatasapp{

                        height: 100px;
                        width: auto;
                        border: 1px solid #BCBCBC;
                        border-radius: 5px; 
                        margin: auto;      

                        a{

                            width: 400px;   
                            height: 200px;  

                            .uil-whatsapp{
 
                                color: white;  
                                font-size: 90px;   
                                padding-left: 10px;   
                                      
                               
                            }
                        }    
                    }

                    .whatasapp:hover{
                        background-color: var(--primary-red);
                    }

                    .facebook{

                        height: 100px;
                        width: auto;
                        border: 1px solid #BCBCBC;
                        margin-bottom: 20px;
                        border-radius: 5px;
                        margin: auto;

                        a{
                            .uil-facebook{
                    
                                font-size: 90px;
                                color: white;
                                padding-left: 10px;  
                            }
                        }                  
                    }

                    .facebook:hover{

                        background-color: var(--primary-red);
                    }

                    .github{

                        height: 100px;
                        width: auto;
                        border: 1px solid #BCBCBC;
                        border-radius: 5px;
                        margin: auto;

                        a{
                            .uil-github{
 
                                font-size: 90px;
                                color: white; 
                                padding-left: 10px;  
                            }
                        }
                    }

                    .github:hover{
                        background-color: var(--primary-red);
                    }

                }
            
            }

            //===========================Animation section================================================
            .animation__section{

                background:#111010;
                font-family: 'Open Sans', sans-serif;
                -webkit-font-smoothing: antialiased;
                color:#393D3D;
                height: 200px;
                max-width: 100%;

                #container{

                    width:90%;
                    max-width:700px;
                    margin:1em auto;
                    position:relative;

                    #html-spinner{

                        width:40px;
                        height:40px;
                        border:4px solid var(--primary-red);
                        border-top:4px solid white;
                        border-radius:50%;
                       
                    }
                      
                    #html-spinner, #svg-spinner{

                        -webkit-transition-property: -webkit-transform;
                        -webkit-transition-duration: 1.2s;
                        -webkit-animation-name: rotate;
                        -webkit-animation-iteration-count: infinite;
                        -webkit-animation-timing-function: linear; 
                        -moz-transition-property: -moz-transform;
                        -moz-animation-name: rotate; 
                        -moz-animation-duration: 1.2s; 
                        -moz-animation-iteration-count: infinite;
                        -moz-animation-timing-function: linear; 
                        transition-property: transform;
                        animation-name: rotate; 
                        animation-duration: 1.2s; 
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                    }
                      
                    @-webkit-keyframes rotate {
                        from {-webkit-transform: rotate(0deg);}
                        to {-webkit-transform: rotate(360deg);}
                    }
                      
                    @-moz-keyframes rotate {
                        from {-moz-transform: rotate(0deg);}
                        to {-moz-transform: rotate(360deg);}
                    }
                      
                    @keyframes rotate {
                        from {transform: rotate(0deg);}
                        to {transform: rotate(360deg);}
                    }
                              
                    /* spinner positioning */
                      
                    #html-spinner, #svg-spinner{
                    position:absolute;
                    top:80px;
                    margin-left:-24px;
                    }
                      
                    #html-spinner{
                        left:25%; 
                    }
                      
                    #svg-spinner{
                        left:75%; 
                    }
                      
                    #html-para, #svg-para{
                        position:absolute;
                        top:100px;
                        width:40%;
                        padding:5%;
                        text-align:center;
                    }
                      
                    #svg-para{
                        left:50%;
                    }
                }
                
            }
    
            //===========================Footer section===================================================

            .footer__container{

                height: 80px;
                max-width: 100%;
                background-color: black;

                .footle__title{

                    color: white;
                    text-align: center;
                    font-family: var(--font-family);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    padding-top: 30px;
                }
            }

        }

@media only screen and (max-width: 600px) {

    .header{

        width: 100%;
        height: auto;
        position: fixed;
        left: 0;
        top: 0;
       

// ================================================nav============================================================================
        .nav{

            max-width: 600px;
            background-color: var(--colorblue);
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: var(--header-height);
            position: inherit;
           
            .redpart{
                color: var(--primary-red);
            }

            .nav__logo{

                cursor: pointer;
                margin-left: 40px;
                font-size: 14px;
                font-weight: 700;
                width: 160px;
            }

            .nav__logo:hover{

                color: var(--primary-red);
            }

            .nav__menu{

                visibility: hidden;
                
                ul{

                    list-style: none;

                    li{

                        display: inline-block;
                        padding: 50px;

                        a{

                            text-decoration: none;
                            color: var(--first-color);      
                        }

                        a:hover{

                            color: var(--primary-red);
                        }
                    }
                }
            }

            .nav__btns{

                display: none;

                i{
                    color: var(--first-color);
                    margin-right: 60px;
                    width: 30px;
                }

                i:hover{

                    color: var(--primary-red);
                 
                }


                .nav__close, .nav__apps{
                    display: none;

                }
            }

        }
    }

    .main{

        //===========================Home section==================================================

        .home__container{

            max-width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column-reverse;
            background-color: black;
            padding-bottom: 40px;

            .home__data{

                height: auto;
                width: auto;

                .home__title{

                    font-size: 12px;
                }

                .home__subtitle{

                    font-size: 36px;
                    color: white;

                }

                .home__description{

                    font-size: 20px;
                    width: 400px;
                    margin: auto;
                    margin-left: 0;
                    height: auto;
                    text-align: justify;
                }

                .button{

                    color: var(--colorblue);
                    padding-left: 0;
                    font-size: 16px;
                    text-decoration: none;
                    border: 1px solid white;
                    background-color: var(--colorblue);
                    color: white;
                    height: 80px;
                    margin-left: 20px;

                    .button:hover{

                        color: #D53C42;
                    }

                }   

            }

            .home__img{

                margin-top: 30%;
                height: auto;
                width: 100%;
               
                img{

                    margin-left: 20%;
            
                }

            }
            
        }

        //===========================About section==================================================

        .about__container {

            width: 100%;

            .about__title{

                width: 400px;
                height: auto;     
                text-align: center;         
            }

            .description__paragraph{

                .description__flex{

                    margin-top: 80px;
                    margin-left: 0;
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;

                    .my-description-title{

                        margin: 30px;
                        height: auto;

                        .description-title{

                            font-size: 18px;
                            width: auto;
                            text-align: justify;
                        }

                        ul{

                            li{

                                margin: 40px;
                                font-size: 16px;
                                line-height: 40px;
                                margin-bottom: 0;
                                
                            }
                        }
                    }

                    .my-description-list{

                        margin: 30px;
                        margin-top: 0px;
                        height: auto;

                        ul{

                            li{

                                margin: 40px;
                                font-size: 16px;
                                line-height: 10px;
                            }
                        }
                    }

                }

            }
        }

        //===========================Skills section=================================================
        .skills__container{

            height: auto;
            width: 100%;

            .skills__information-flex{

                margin: auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 80px;

                .skills__description{

                    width: auto;
                    margin-left: 0;
                    height:auto;
                    margin-top: 40px;
                    display: flex;
                    flex-direction: column;

                    .skills__titles{

                        .skills__title{

                            font-size: 38px;
                            text-align: center;
                        
                        }

                        .skills__subtitle-first{

                            font-size: 32px;
                            text-align: center;
                            margin-top: O;
                            color: var(--primary-red);

                        }
                    }

                    .skills__list-front-end{

                        ul{

                            li{

                                margin-left: 40px;
                                margin-right: 40px;
                                
                            }
                        }
                    }

                    .btn__download{
                        .btn{

                            margin-top: 80px;
                            margin-left: 120px;
                        
                        }
                    }
                }

                .skills__img{

                    width: 70%;
                    height: auto;
                    margin-top: 80px;

                    .first__row{

                        .row{
                            padding-left: 10px;
                        }

                    }

                    .second__row{

                        .row{
                            padding-left: 0;   
                        }

                    }    

                    .third__row{

                        .row{
                            padding-left: 2px;
                          
                        }

                    }

                    .forth__row{

                        .row{
                            padding-left: 20px;
                          
                        }

                        .chatgpt{

                            border-radius: 10px;
                            width: 100px;
                            height: 80px;
                        }

                    }

                    .fifth__row{

                        .row{
                            padding-left: 20px;
                          
                        }

                        .responsive{

                            border-radius: 50% 50% 47% 53% / 50% 48% 52% 50%;
                            width: 120px;
                            height: 80px;
                        }

                        .MySQL{

                            width: 100px;
                            height: 80px;
                        }

                    }
                }

            }
        }

        //===========================project section================================================

        .project__container{
 
            max-width: 100%;
            margin: 20px;

            .title__container{

                width: 100%;
                margin-top: 180px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .project_title{
 
                    font-size: 18px;
                    text-align: justify;
                    margin: 20px;
                }

                img{
                    width: 60%;
                }

                a{      
                    font-size: 24px;

                }

                .next{

                    margin-bottom: 240px;
 
                    .next__ul{

                        list-style: none;

                        .next__ul-li{

                            display: inline-block;
                            margin-top: 20px;
                            padding: 10px;
                                                     
                            a{
                                text-decoration: none;
                                font-size: 16px;
                                font-family: var(--font-family);
                                font-style: normal;
                                color: var(--colorblue);
                            }

                            a:hover{

                                color: black;
                            }
                            
                        }
                    }
                }

            }

        }

        //===========================contact section=================================================

        .contactMe__section{
            
            height: auto;
            max-width: 80%;
            display: block;
            background-color: var(--colorblue);

            .id__container{

                height: 500px;
                width: 80%;
                margin: auto;
                margin-top: 40px;
                margin-bottom: 0;
                margin-left: 25%;
                display: block;

                .identity{

                    width: 80%;
                    height: 140px;

                    .id__title{

                        padding-top: 20px;
                        position: inherit;
                        font-family: var(--font-family);
                        font-style: normal;
                        font-weight: 700;
                        font-size: 30px;
                        color: white;

                    }
                }

                .motal__title{

                    width: 80%;
                    height: auto;
                    font-family: var(--font-family);
                    font-style: normal;
                    font-weight: 300;
                    color: #295481;

                }
            }

            .carnet__container{

                height: 600px;
                width: 80%;
                margin: auto;

                .form{

                    height: 500px;
                    width: 100%;
                    margin: auto;
                    margin-bottom: 0%;

                    input, textarea {

                        height: 50px;
                        width: 60%;
                        background-color: var(--colorblue);
                    }
                    .btn__submit{

                        margin-top: 70px;
                    }
                  
                }
            }
            .soc-container{

                margin-top: 0;
                padding-bottom: 40px;
                display: flex;
                flex-direction: row;
                align-items:flex-start;

                height: auto;
                margin-left: 120px;
               
                .whatasapp{

                    height: 70px;
                    width: auto; 
                    margin: auto;    

                    a{
                        .uil-whatsapp{

                            color: white;  
                            font-size: 60px;     
                                  
                           
                        }
                    }    
                } align-content: center;

                .whatasapp:hover{
                    background-color: var(--primary-red);
                }

                .facebook{

                    height: 70px;
                    width: auto;
                    border: 1px solid #BCBCBC;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    margin: auto;

                    a{
                        .uil-facebook{
                
                            font-size: 60px;
                            color: white; 
                        }
                    }
                    
                }

                .facebook:hover{
                    background-color: var(--primary-red);
                }

                .github{

                    height: 70px;
                    width: auto;
                    border: 1px solid #BCBCBC;
                    border-radius: 5px;
                    margin: auto;

                    a{
                        .uil-github{

                            font-size: 60px;
                            color: white; 
                        }
                    }
                }

                .github:hover{
                    background-color: var(--primary-red);
                }
            }       
        }

        //===========================Animation section================================================
        .animation__section{

            background: goldenrod;
            height: 300px;
            max-width: 100%;

            #container{

                width:90%;
                max-width:700px;
                margin:1em auto;
                position:relative;
                           
            }      
        }

        //===========================Footer section===================================================

        .footer__container{

            height: 80px;
            max-width: 100%;
            background-color: black;


            .footle__title{

                color: white;
                text-align: center;
                font-family: var(--font-family);
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                padding-top: 30px;
            }
        }
    }

}
  

